# Compiled Object files
*.slo
*.l
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# tmp
*~

# log folder
/logs
/luaclib
/cservice


# redis db
*.rdb

# tar
*.tar.gz
*.gz

#module
/module/ball/luaclib
/module/ball/cservice

/module/host/luaclib
/module/host/cservice

build/vs2017/.vs
build/vs2017/intermediate
