	
[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet
[submodule "3rd/lua-snapshot"]
	path = 3rd/lua-snapshot
	url = https://github.com/cloudwu/lua-snapshot
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/cloudwu/lua-cjson
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket
[submodule "3rd/lua-socket"]
	path = 3rd/lua-socket
	url = https://github.com/mephostopilis/lua-socket
[submodule "3rd/crab"]
	path = 3rd/crab
	url = https://github.com/xjdrew/crab
[submodule "3rd/lua-zset"]
	path = 3rd/lua-zset
	url = https://github.com/xjdrew/lua-zset
[submodule "3rd/lua-sharedata"]
	path = 3rd/lua-sharedata
	url = https://github.com/mephostopilis/lua-sharedata
[submodule "3rd/aoi"]
	path = 3rd/aoi
	url = https://github.com/cloudwu/aoi
[submodule "3rd/rudp"]
	path = 3rd/rudp
	url = https://github.com/cloudwu/rudp
[submodule "3rd/Maria"]
	path = 3rd/Maria
	url = https://github.com/Mephostopilis/Maria
[submodule "3rd/libco"]
	path = 3rd/libco
	url = https://github.com/Tencent/libco
