# Compiled Object files
*.slo
*.l
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# tmp
*~

# log folder
/logs
/luaclib
/cservice


# redis db
*.rdb

# tar
*.tar.gz
*.gz
*.exp
*.ilk
*.pdb

#module
/module/ball/luaclib
/module/ball/cservice

/module/host/luaclib
/module/host/cservice

build/vs2017/.vs
build/vs2017/intermediate

!build/vs2017/pthreadVC2.lib
!3rd/Redis-x64-3.2.100/EventLog.dll
!3rd/Redis-x64-3.2.100/redis-benchmark.exe
!3rd/Redis-x64-3.2.100/redis-benchmark.pdb
!3rd/Redis-x64-3.2.100/redis-check-aof.exe
!3rd/Redis-x64-3.2.100/redis-check-aof.pdb
!3rd/Redis-x64-3.2.100/redis-cli.exe
!3rd/Redis-x64-3.2.100/redis-cli.pdb
!3rd/Redis-x64-3.2.100/redis-server.exe
!3rd/Redis-x64-3.2.100/redis-server.pdb
