[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet
[submodule "tablepointer"]
	path = tablepointer
	url = https://github.com/cloudwu/tablepointer
[submodule "skynet-client"]
	path = skynet-client
	url = https://github.com/mephostopilis/skynet-client
[submodule "pbc"]
	path = pbc
	url = https://github.com/cloudwu/pbc
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/cloudwu/lua-cjson
