include "config.path"
project      = "ball"

thread       = 1
logger       = project .. "_slave3.log"
logservice   = "logger"
logpath      = "./../../logs/" .. project
logbasename  = project .. "_s3"
harbor       = 3
address      = "127.0.0.1:2403"
master       = "127.0.0.1:2001"
start        = "mains3"	-- main script
bootstrap    = "snlua bootstrap"	-- The service for bootstrap
--standalone  = "0.0.0.0:2001"
daemon       = project .. "_s3.pid"

-- signup server
signupd      = "0.0.0.0:3001"
signupd_name = "SIGNUPD"

-- login server
logind       = "0.0.0.0:3002"
logind_name  = "LOGIND"

-- gate server
gated        = "0.0.0.0:3301"
gated_name   = "sample"
maxclient    = 64

-- db server
db_host      = "127.0.0.1"
db_port      = 3306
db_database  = project
db_user      = "root"
db_password  = "123456"
cache_host   = "127.0.0.1"
cache_port   = 6379
cache_db     = 0
