root        = "./"
thread      = 8
--logger      = nil
logger      = "userlog"
logservice  = "snlua"
logpath      = "./../../logs/ball/"
log_root     = "./../../logs/"
log_dirname  = "ball"
log_basename = "ball"
harbor      = 1
address     = "127.0.0.1:2401"
master      = "127.0.0.1:2013"
start       = "main"	-- main script
bootstrap   = "snlua bootstrap"	-- The service for bootstrap
standalone  = "0.0.0.0:2013"
luaservice  = "../../module/ball/?.lua;../../service/db/?.lua;../../service/web/?.lua;../../service/?.lua;./service/?.lua"
lualoader   = "lualib/loader.lua"
preload     = "./../../module/ball/lualib/preload.lua"
-- preload = "./game-slave1/preload.lua"	-- run preload.lua before every lua service run
snax        = root.."../../module/ball/snax/?.lua;"..root.."../module/ball/?.lua"
-- snax_interface_g = "snax_g"
cpath       = "../../cservice/?.so;./cservice/?.so"
-- daemon = "./skynet.pid"

-- signup server
signupd      = "0.0.0.0:3001"
signupd_name = ".SIGNUPD"

-- login server
logind       = "0.0.0.0:3002"
logind_name  = ".LOGIND"

-- gate server
gated        = "0.0.0.0:3301"
gated_name   = "sample"
maxclient    = 64

-- udp server
udp_host     = "0.0.0.0"
udp_port     = 9999

-- db server
db_host     = "192.168.199.198"
db_port     = 3306
db_database = "ball"
db_user     = "root"
db_password = "123456"
cache_host  = "127.0.0.1"
cache_port  = 6379

module_path = "./../../module/ball/"
