<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery Mobile React Example</title>
  <link rel="stylesheet" href="/jquery-mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.5/_assets/css/jqm-demos.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-a">
  <div id="content"></div>
  <script src="https://cdn.bootcss.com/babel-core/5.8.24/browser.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/jquery-mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="/react/build/react.js"></script>
  <script src="/react/build/react-dom.js"></script>
  <script type="text/babel" src="/example.js"></script>
</body>
</html>
