root        = "./../../"
module_path = root.."module/mahjong/"

thread      = 8
--logger      = nil
logger      = "userlog"
logservice  = "snlua"
logpath      = "./../../logs/mahjong/"
log_dirname  = "mahjong_m1"
log_basename = "mahjong_m1"
harbor      = 1
address     = "127.0.0.1:2401"
master      = "127.0.0.1:2001"
start       = "main"	-- main script
bootstrap   = "snlua bootstrap"	-- The service for bootstrap
standalone  = "0.0.0.0:2001"
luaservice  = module_path.."?.lua;"..root.."service/?.lua;".."./service/?.lua"
lualoader   = "lualib/loader.lua"
preload     = root.."lualib/preload.lua"
-- preload = "./game-slave1/preload.lua"	-- run preload.lua before every lua service run
snax        = root.."module/host/logind/?.lua;"..root.."test/?.lua"
-- snax_interface_g = "snax_g"
cpath       = root.."cservice/?.so;".."./cservice/?.so"
daemon = "./skynet_m1.pid"

-- signup server
signupd      = "0.0.0.0:3001"

-- login server
logind       = "0.0.0.0:3002"

-- gate server
gated        = "0.0.0.0:3301"
gated_name   = "sample1"
maxclient = 64


-- db server
db_host     = "192.168.1.112"
db_port     = 3306
db_database = "dizhu"
db_user     = "root"
db_password = "qwe123"
cache_host  = "127.0.0.1"
cache_port  = 6379
