root        = "./"
thread      = 8
logger      = nil
--logger      = "catu"
--logservice  = "catlogger"
logpath     = "./../../log/cat/"
harbor      = 2
address     = "127.0.0.1:2402"
master      = "127.0.0.1:2013"
start       = "main"	-- main script
bootstrap   = "snlua bootstrap"	-- The service for bootstrap
--standalone = "0.0.0.0:2013"
luaservice  = "./../../service/logind/?.lua;./../../service/db/?.lua;./../../service/web/?.lua;./../../service/cat/?.lua;./../../service/?.lua;./service/?.lua"
lualoader   = "lualib/loader.lua"
-- preload = "./game-slave1/preload.lua"	-- run preload.lua before every lua service run
preload     = "./../../lualib/preload.lua"
snax        = root.."test/?.lua"
-- snax_interface_g = "snax_g"
cpath       = "./../../cservice/?.so;./cservice/?.so"
-- daemon = "./skynet.pid"

-- signup server
-- signupd     = "0.0.0.0:3001"
-- signupd_name = "signup_master"

-- login server
-- logind      = "0.0.0.0:3002"
logind_name = "login_master"

-- gate server
gated       = "0.0.0.0:3302"
gated_name  = "sample1"
maxclient   = 64
leaderboards_name = ".ara_lb"
gated_rdb   = ".rdb"
gated_wdb   = ".db"

-- db server
db_host     = "192.168.1.116"
db_port     = 3306
--db_database = "project"
db_database = "information_schema"
db_user     = "root"
db_password = "yulei"
cache_host  = "192.168.1.116"
cache_port  = 6379

module_path     = "./../cat/"
log_level    = 1
log_rollsize = 2048
log_flushinterval = 5
log_dirname  = "./../../log/cat/"
log_basename = "cat"
