root        = "./"
module_path = root.."module/db/"

thread      = 3
logger      = "userlog"
logservice  = "snlua"
logpath     = "."
harbor      = 2
address     = "127.0.0.1:2402"
master      = "127.0.0.1:2013"
start       = "main"	-- main script
bootstrap   = "snlua bootstrap"	-- The service for bootstrap
--standalone = "0.0.0.0:2013"
luaservice  = madule_path.."?.lua" .. "../../service/?.lua;./service/?.lua"
lualoader   = "lualib/loader.lua"
preload     = "./../../lualib/preload.lua"
-- preload = "./game-slave1/preload.lua"	-- run preload.lua before every lua service run
snax        = root.."../../module/ball/snax/?.lua;"..root.."../module/ball/?.lua"
-- snax_interface_g = "snax_g"
cpath       = root.."cservice/?.so"
-- daemon = "./skynet.pid"

db_host     = "192.168.199.199"
db_port     = 3306
db_database = "mahjong"
db_user     = "root"
db_password = "123456"
cache_host  = "127.0.0.1"
cache_port  = 6379