<!DOCTYPE html>
<html>
	<head>
	<script type="text/javascript" src="/color.js"></script>
	</head>
	<body>
		<form method="POST" action="/user">
			<label>nickname</label>
			<input type="text" name="nickname" />
			<label>uname</label>
			<input type="text" name="uname" />
			<label>uaccount</label>
			<input type="text" name="uaccount" />
			<label>upassword</label>
			<input type="text" name="upassword"/>
			<label>uviplevel</label>
			<input type="text" name="uviplevel" />
			<label>uexp</label>
			<input type="text" name="uexp" />
			<label>config_sound</label>
			<input type="text" name="config_sound" />
			<label>config_music</label>
			<input type="text" name="config_music" />
			<label>avatar</label>
			<input type="text" name="avatar">
			<label>c_role_id</label>
			<input type="text" name="c_role_id" />
			<input type="submit" value="submit" />
 		</form>
 		<p id="demo"> A Paragraph </p>
 		<button type="button" onclick="myFunction()">Try it</button>
	</body>
</html>